.Body {
    display: flex;
    color: black;
}

.ul>img{
    text-align: center;
    color: black;
    text-align: center;
    display: flex;
    width: 100px;
   

}

.img{display: flex;
    color: blue;
}

footer{
    background-color:#262626 ;
};

.maquina1.maquina2{
    background-color:#262626 ;
};