ul{
    display: flex;
};

.global {
    display: flex;
}

.logo{
    display: flex;
    padding: 100px;
    width: 100px;
    height: 100px;
};

.icon {
    display: flex;
  flex-wrap: wrap;
    gap: 10px;
  }

.icon p img {
    width: 10px;
    height: 10px; 
    
   
  margin-right: 8px; 
  }