<<<<<<< HEAD
ul{
    display: flex;
};

.global {
    display: flex;
}

.logo{
    display: flex;
    padding: 100px;
    width: 100px;
    height: 100px;
};

.icon {
    display: flex;
  flex-wrap: wrap;
    gap: 10px;
  }

.icon p img {
    width: 10px;
    height: 10px; 
    
   
  margin-right: 8px; 
  }
=======
.Body {
    display: flex;
    color: black;
}

.ul>img{
    text-align: center;
    color: black;
    text-align: center;
    display: flex;
    width: 100px;
   

}

.img{display: flex;
    color: blue;
}

footer{
    background-color:#262626 ;
};

.maquina1.maquina2{
    background-color:#262626 ;
};
>>>>>>> 86a5b5bb02f9fb8423b3204125f4af6fce27b54f
