<<<<<<< HEAD
root: {
    margin: 0;
    left: 0;
}

.global {
    display: flex;
}

.fundo{
    display: flex;
    background-color:#262626 ;
    flex-wrap: nowrap;
}

.logo{
    display: flex;
    text-align: center;
    color: black;
    text-align: center;
    display: flex;
    /* width: 10px; */
}
=======
header{
    background-color:#262626 ;
};

>>>>>>> 86a5b5bb02f9fb8423b3204125f4af6fce27b54f
